/*----------------------------------------------- loader -----------------------------------------*/
@include loader("../img/loader.svg");

/*---------------------------------------------- header styles -----------------------------------------*/

//------------------------------------------------------------ layout
.header {
  position: relative;
  width: 100%;
  
}
.header_row{
  @include flex_block(column, nowrap, center, center, center);
  height:$height_header;
  min-height: 600px;
  max-width: $page_width;
  margin: 0 auto;
}
//------------------------------------------------------------ layout end


//------------------------------------------------------------ top_line
.top-line{
  position:fixed;
  width: 100%;
  padding: 0 $gl_indent;
  @include for-phone-only {
    padding: 0 $mob_gl_indent;
  }
}
.top-line_row{
  position: relative;
  height: 70px;
  @include flex_block(row, nowrap, space-between, center, center);
  margin: 0 auto;
  max-width: $page_width;
}
//------------------------------------------------------------ top_line end


//------------------------------------------------------------ logo
.logo{
  display: block;
  img{
    display: block;
  }
  &_w{
    margin-right: 20px;
  }
}
//------------------------------------------------------------ logo end

//------------------------------------------------------------ nav-menu
  .nav-menu{
    &_list{
      @include flex_block(row, nowrap, flex-start, center , center);
    }
    &_item{
      margin-right: 20px;
      &:last-child{
        margin-right:0;
      }
    }
    &_link{
      display: inline-block;
      line-height: 30px;
      &:hover{
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  @include for-tablet-portrait-down {
    .nav-menu{
      display: none;
      z-index: 100;
      position: absolute;
      top:70px;
      right: 0;
      width: 100%;
      &_list{
        @include flex_block(column, nowrap, flex-start, center , center);
        background-color: rgba(255,255,255, .9);
        border: 1px solid #ccc;
        border-top:none;
        padding: 15px 0;
      }
      &_item{
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
    }
  }
//------------------------------------------------------------ nav-menu end

//------------------------------------------------------------ burger_button
  .menu-button {
    display: none;
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
  }

  .burger-icon {
    max-width: $page_width;	@include burger(25px, 3px, 5px, #444);
  }

  .menu-button.is-active .burger-icon {
    @include burger-to-cross;
  }

  @include for-tablet-portrait-down {
    .menu-button{
      display: inline-block;
    }
  }

//------------------------------------------------------------ burger_button end

//------------------------------------------------------------ language_widget
.language{
  &_list{
    display: inline-block;
    vertical-align:middle;
    margin-right: 20px;
  }
  &_item{
    display: inline-block;
    
  }
  &_link{
    display:block;
  }
}
//------------------------------------------------------------ language_widget end

.button{
  @extend %butt_size_1;
  @extend %butt_color_1;
}

.header_title{
  position: relative;
  font-size: 15rem;
  font-family: "Corinthia";
  font-weight: 500;
  text-align: center;
  color:#165016;
  margin: 0;
  @include for-phone-only{
      font-size: between(90px, 150px, $small, $phone-only);
  }

}
/*--------------------------------------- header styles end --------------------------------------------*/