//---------------------------------------------layout-------------------

$page_width: 120rem;
$page_min_width: 32rem;
$height_footer: 10rem;
$height_header: 10rem;

//---------------------------------------------layout end---------------


//---------------------------------------------globals values---------------
$gl_indent: 3rem;
$mob_gl_indent: 1.5rem;

//---------------------------------------------globals values end---------------


//-----------------fonts----------------------------------

$font_f_base:"Raleway",sans-serif;
$font_size_base: 1.6rem;

//-----------------fonts end-------------------------------


//-----------------colors-----------------------------------

$color_txt_base:#000;
$body_bg:#fff;
$color_link_base:blue;

//-----------------colors end---------------------------------


//-----------------buttons_colors-----------------------------------

$color_btn_1:#fff;
$color_btn_bg_1:#006600;

//-----------------buttons_colors end-----------------------------------


//---------------------------------------------between size function--------------

$small: 320px;
$phone-only: 599px;

//---------------------------------------------between size function end----------