// header
header.header
    .top-line
        .top-line_row
            // logo
            .logo_w
                +logo_i('logo.svg','120')         
            // top-menu
            +navmenu
            // widgets-block
            .widgets_w
                +lang_widget
                +m-button
    .header_row            
        h1.header_title New title
        button.button GO!            