// main
main.main
    section.section
        .section_row
            p 
                +icon('html5','green_mod') 
                +icon('css3','green_mod')
                        
            h1.title New title
            